# Python dependencies
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Large model files (Do not upload to Git)
models/*.gguf
models/*.bin

# Local databases and cache
.cache/
chroma_db/
.chainlit/

# IDE files
.vscode/
.idea/
*.swp
.files
